<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs')%>
<body>
    <div class="container">
        <h2>About Us</h2>
        <p>Coding | Blogs | Tutorial</p>
    </div>
    <%- include('./nav.ejs')%>
    <!-- <h2>About us</h2> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error dolorem cum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis praesentium sapiente cum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim omnis suscipit quo?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nobis ducimus voluptatibus.</p>
    <%-include('./footer.ejs')%>
</body>
</html>